# Reactor
REACTOR_NAME=s3-uploads-manager
REACTOR_DESCRIPTION="Handles file staging for /uploads"
REACTOR_ALIAS=uploads-manager

# Docker image
DOCKER_HUB_ORG=sd2e
DOCKER_IMAGE_TAG=s3-uploads-manager
DOCKER_IMAGE_VERSION=0.4.1
DOCKER_USE_COMMIT_HASH=1
