# Reactor
REACTOR_NAME=copy-s3-uploads
REACTOR_DESCRIPTION="Handles file staging for /uploads"
REACTOR_ALIAS=copy-s3-uploads

# Docker image
DOCKER_HUB_ORG=sd2e
DOCKER_IMAGE_TAG=copy-s3-uploads
DOCKER_IMAGE_VERSION=0.1.0
